<tr *ngIf="product"> 
                    
    <td>{{product.id}}  </td>
    <td>{{product.name}} </td>
    <td>{{product.price}}</td>
    <td>{{product.quantity}}</td>
    <td>{{product.selected}}</td>
    <td>{{product.available}}</td>
    <td>
      <button class="btn btn-sm"  (click)="onSelected(product)">
        <span *ngIf="product.selected">UnSelect </span>
        <span *ngIf="!product.selected">Select</span>
      </button>
    </td>
    <td>
      <button class="btn btn-danger" (click)="onDelete(product)">
        <span class="fa fa-trash-o"></span>
      </button>
    </td>
    <td>
      <button class="btn btn-light" (click)="onEdit(product)">
        <span class="fa fa-edit"></span>
      </button>
    </td>
  </tr>