<nav class="navbar navbar-expand-sm bg-light navbar-light">
    <ul class="navbar navbar-nav">
        <li>
            <button class="btn btn-outline-info ml-2" (click)="onGetAllProducts()">All</button>
        </li>
        <li>
            <button class="btn btn-outline-info ml-2" (click)="onSelectedProducts()">Selected</button>
        </li>
        <li>
            <button class="btn btn-outline-info ml-2" (click)="onAvailableProducts()">Available</button>
        </li>
        <li>
          <button class="btn btn-outline-info ml-2" (click)="onAddProducts()">New</button>
      </li>
    </ul>
    <ul class="navbar navbar-nav ml-auto">
      <li>
        <form #f="ngForm" (ngSubmit)="SearchProduct(f.value)" class="form-inline" >
          
            <input type="text" class="form-control" ngModel name="keyword" >
            <button class="btn btn-outline-info ml-2" type="submit">
              <i class="fa fa-search"></i>
            </button>
          
        </form>
      </li>
    </ul>
</nav>